// theme colors
$header-bg: #041a2f;
$sidebar-bg: #031423;
$side-panel-bg: #151f2e;
$side-panel-color: #6f7484;
$header-color: #bdc6d0;
$search-bg: #0c1222;
$link-warning: #ffc107;

$accord-title: #323e4a;
$primary: #ffc107;

$secondary:#375167;
$scroll-bg: #dee2e6;

// badges
$badge-missed:#f44c4c;
$badge-answered:#6abc68;
$badge-dialed:#7794c7;
// $badge-voicemail:#ecac46;
// $badge-dnd:#454545;
// $badge-ivr:#2db3b0;
// $badge-greeting:#a270b7;
// $badge-forward:#d67e9e;